/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 62px;
}
h2 {
  font-size: 31px;
}

/* MAIN */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgb(82, 82, 82) 0 50%,
    rgb(157, 157, 157) 50% 100%
  );
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}
.player1 {
  color: #ff030b;
}
.player2 {
  color: #f9cf03;
}
.board {
  width: 40%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tile {
  /* transparent to don't show the value used only for JS */
  color: transparent;
  border: 0.5px solid rgb(99, 99, 99);
  cursor: pointer;
}
.reset-btn {
  padding: 7px 30px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
}

/* Tiles interaction for ---JS---: */
/* PLAYER1 */
.redIcon {
  background: url("../assets/red.png");
  /* prevent user to reclick */
  cursor: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}
/* PLAYER2 */
.yellowIcon {
  background: url("../assets/yellow.png");
  cursor: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}
.redTitle {
  color: #ff030b;
}
.yellowTitle {
  color: #f9cf03;
}
.gameOver {
  cursor: none;
}
.redBg {
  background-color: #ff030b;
}
.yellowBg {
  background-color: #f9cf03;
}
